{% extends "base.html" %}

{% load static %}
{% load movie_tags %}
{% load movie_filters %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<body>
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="{{ movie.poster.url }}" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a>
                            </div>
                            <div><a href="https://www.youtube.com/embed/o-0hcF97wy0"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">{{ movie.title }}</h1>
                    <p>{{ movie.tagline }}</p>
                    <div class="social-btn">
                        <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>

                            {% for rating in movie.ratings.all %}

                            <p><span>{{ rating.star }}</span> /10<br>

                                {% endfor %}

                                <span class="rv">56 Reviews</span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Rate This Movie: </p>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Описание</a></li>
                                <li><a href="#reviews">Отзывы</a></li>
                                <li><a href="#cast">Актеры</a></li>
                                <li><a href="#media">Медиа</a></li>
                                <li><a href="#moviesrelated"> Related Movies</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>{{ movie.description|safe }}</p>
                                            <div class="title-hd-sm">
                                                <h4>Видео и фото</h4>
                                            </div>
                                            <div class="mvsingle-item ov-item">

                                                {% for image in movie.movieshots_set.all %}

                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                   href="#"><img src="{{ image.image.url }}" alt="" width="150"
                                                                 height="auto"></a>

                                                {% endfor %}

                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>В главных ролях</h4>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">

                                                {% for actor in movie.actors.all %}

                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img src="{{ actor.image.url }}" alt="" width="100">
                                                        <a href="#">{{ actor.name }}</a>
                                                    </div>
                                                </div>

                                                {% endfor %}

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'year' %}</h6>
                                                <p>{{ movie.year }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'country' %}</h6>
                                                <p>{{ movie.country }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'genres' %}</h6>
                                                {% for genre in movie.genres.all %}
                                                <p><a href="#">{{ genre.name }}</a>
                                                    {% endfor %}
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'directors' %}</h6>
                                                {% for director in movie.directors.all %}
                                                <p><a href="#">{{ director.name }}</a></p>
                                                {% endfor %}
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'actors' %}</h6>
                                                {% for actor in movie.actors.all %}
                                                <p><a href="#">{{ actor.name }}</a>
                                                    {% endfor %}
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'world_premiere' %}</h6>
                                                <p>{{ movie.world_premiere }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'budget' %}</h6>
                                                <p>${{ movie.budget | thousands_separator }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'fees_in_usa' %}</h6>
                                                <p>${{ movie.fees_in_usa | thousands_separator }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>{% get_verbose_name movie 'fess_in_world' %}</h6>
                                                <p>${{ movie.fess_in_world | thousands_separator }}</p>
                                            </div>
                                            <div class="ads">
                                                <img src="{% static 'images/uploads/ads1.png' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviews" class="tab review">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div class="div">
                                                <h3>Related Movies To</h3>
                                                <h2>Skyfall: Quantum of Spectre</h2>
                                            </div>
                                        </div>
                                        <div class="topbar-filter">
                                            <p>Найдено <span>{{ movie.reviews_set.count }} отзывов</span></p>
                                            <label>Filter by:</label>
                                            <select>
                                                <option value="popularity">Popularity Descending</option>
                                                <option value="popularity">Popularity Ascending</option>
                                                <option value="rating">Rating Descending</option>
                                                <option value="rating">Rating Ascending</option>
                                                <option value="date">Release date Descending</option>
                                                <option value="date">Release date Ascending</option>
                                            </select>
                                        </div>

                                        {% for review in movie.get_reviews_without_parent %}

                                        <div class="mv-user-review-item">
                                            <div class="user-infor">
                                                <img src="images/uploads/userava1.jpg" alt="">
                                                <div>
                                                    <h3>{{ review.name }}</h3>
                                                    <div class="no-star">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i>
                                                    </div>
                                                    <p class="time">
                                                        17 December 2016 by <a href="#"> hawaiipierson</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <p>{{ review.text }}</p>
                                            <a href="#review_form" onclick="add_review('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                                        </div>

                                        {% for review_ans in review.reviews_set.all %}

                                        <div class="mv-user-review-ans-item">
                                            <div class="user-infor">
                                                <img src="images/uploads/userava1.jpg" alt="">
                                                <div>
                                                    <h3>{{ review_ans.name }}</h3>
                                                    <div class="no-star">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i>
                                                    </div>
                                                    <p class="time">
                                                        17 December 2016 by <a href="#"> hawaiipierson</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <p>{{ review_ans.text }}</p>
                                        </div>

                                        {% endfor %}

                                        {% endfor %}

                                        <div class="topbar-filter">
                                            <label>Reviews per page:</label>
                                            <select>
                                                <option value="range">5 Reviews</option>
                                                <option value="saab">10 Reviews</option>
                                            </select>
                                            <div class="pagination2">
                                                <span>Page 1 of 6:</span>
                                                <a class="active" href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#">3</a>
                                                <a href="#">4</a>
                                                <a href="#">5</a>
                                                <a href="#">6</a>
                                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                                            </div>
                                        </div>
                                        <div class="page-single">
                                            <div class="container">
                                                <div class="blog-detail-ct">
                                                    <div class="comment-form">
                                                        <h4>Leave a comment</h4>
                                                        <form action="{% url 'add_review' movie.url %}"
                                                              method="post" id="review_form">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="parent" id="comment_parent" value="">
                                                            {% for field in form %}

                                                            <div class="col-md-8">
                                                                {{ field.errors }}
                                                                {{ field.label_tag }}{{ field }}
                                                            </div>


                                                            {% endfor %}
                                                            <input class="submit col-md-8" type="submit"
                                                                   value="Отправить отзыв">
                                                        </form>
                                                    </div>
                                                    <!-- comment form -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <h3>Команда</h3>
                                        <h2>{{ movie.title }}</h2>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Режиссер</h4>
                                        </div>

                                        {% for director in movie.directors.all %}

                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="{{ director.image.url }}" alt="" width="50">
                                                    <a href="#">{{ director.name }}</a>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}

                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Актеры</h4>
                                        </div>
                                        <div class="mvcast-item">

                                            {% for actor in movie.actors.all %}

                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="{{ actor.image.url }}" alt="" width="50">
                                                    <a href="#">{{ actor.name }}</a>
                                                </div>
                                            </div>

                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Видео и фото материалы</h3>
                                                <h2>{{ movie.title }}</h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Фото <span> ({{ movie.movieshots_set.count }})</span></h4>
                                        </div>

                                        <div class="mvsingle-item">

                                        {% for image in movie.movieshots_set.all|slice:":6" %}

                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                               href="{{ image.image.url }}"><img src="{{ image.image.url }}" width="200"
                                                                                      alt=""></a>

                                        {% endfor %}

                                        </div>

                                    </div>
                                </div>
                                <div id="moviesrelated" class="tab">
                                    <div class="row">
                                        <h3>Related Movies To</h3>
                                        <h2>Skyfall: Quantum of Spectre</h2>
                                        <div class="topbar-filter">
                                            <p>Found <span>12 movies</span> in total</p>
                                            <label>Sort by:</label>
                                            <select>
                                                <option value="popularity">Popularity Descending</option>
                                                <option value="popularity">Popularity Ascending</option>
                                                <option value="rating">Rating Descending</option>
                                                <option value="rating">Rating Ascending</option>
                                                <option value="date">Release date Descending</option>
                                                <option value="date">Release date Ascending</option>
                                            </select>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv1.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">oblivion <span>(2012)</span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                                <p class="describe">Earth's mightiest heroes must come together and
                                                    learn to fight as a team if they are to stop the mischievous Loki
                                                    and his alien army from enslaving humanity...</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> .
                                                    <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Joss Whedon</a></p>
                                                <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris
                                                    Evans,</a> <a href="#"> Chris Hemsworth</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv2.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">into the wild <span>(2014)</span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                                                <p class="describe">As Steve Rogers struggles to embrace his role in the
                                                    modern world, he teams up with a fellow Avenger and S.H.I.E.L.D
                                                    agent, Black Widow, to battle a new threat...</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> .
                                                    <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
                                                <p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L.
                                                    Jackson,</a> <a href="#"> Scarlett Johansson</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv3.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">blade runner <span>(2015)</span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
                                                <p class="describe">Armed with a super-suit with the astonishing ability
                                                    to shrink in scale but increase in strength, cat burglar Scott Lang
                                                    must embrace his inner hero and help...</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> .
                                                    <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Peyton Reed</a></p>
                                                <p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv4.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">Mulholland pride<span> (2013)  </span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
                                                <p class="describe">When Tony Stark's world is torn apart by a
                                                    formidable terrorist called the Mandarin, he starts an odyssey of
                                                    rebuilding and retribution.</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> .
                                                    <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Shane Black</a></p>
                                                <p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#"> Guy
                                                    Pearce,</a><a href="#">Don Cheadle</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv5.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">skyfall: evil of boss<span> (2013)  </span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
                                                <p class="describe">When Tony Stark's world is torn apart by a
                                                    formidable terrorist called the Mandarin, he starts an odyssey of
                                                    rebuilding and retribution.</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> .
                                                    <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Alan Taylor</a></p>
                                                <p>Stars: <a href="#">Chris Hemsworth, </a> <a href="#"> Natalie
                                                    Portman,</a><a href="#">Tom Hiddleston</a></p>
                                            </div>
                                        </div>
                                        <div class="topbar-filter">
                                            <label>Movies per page:</label>
                                            <select>
                                                <option value="range">5 Movies</option>
                                                <option value="saab">10 Movies</option>
                                            </select>
                                            <div class="pagination2">
                                                <span>Page 1 of 2:</span>
                                                <a class="active" href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function add_review(name, id){
        document.getElementById("comment_parent").value = id;
        document.getElementById("id_text").innerText = `${name}, `
    }
</script>
{% endblock %}




